main {
  padding: 40px;
}

.content {
  width: 300px;
  margin-top: 24px;
  padding: 24px;
  border: 1px solid #ccc;
}

::view-transition-old(.default-transition),
::view-transition-new(.default-transition) {
  animation-duration: 1s;
}
